/*main.css*/

@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
  width: 100%;
  height: 100%;
  background-color: #eee;
  font-family: 'Poppins', sans-serif;
}

html {
  width: 100%;
  height: 100%;
}
.navbar-inner {
  background:transparent !important;
}
.img-logo {
  width: 70px;
}

.texto-centro {
  text-align: center;
}
.texto-derecha {
  text-align: right;
}
.texto-izquierda {
  text-align: left;
}

@media(min-width:767px) {
  .navbar {
    padding: 10px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
  }
  .dex {
    display: block !important;
  }
  .dez {
    display: none !important;
  }
}

@media(max-width:766px) {
  .em-2 {
    font-size: 1.1em !important;
  }
  .intro  h1 { 
    padding-top: 50px !important;
  }
  .ser-recom .texto {
    margin-left: 20px !important;
    font-size: 1.4em;
  }
  .ser-box {
    padding-top: 20px !important;
  }
  .price_table_heading {
    font-size: 1.7em !important;
  }
  .cost {
    font-size: 1.4em !important;
  }
  .dex {
    display: none !important;
  }
  .dez {
    display: block !important;
  }
}

/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */

.intro {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background-image: url('../assets/img/cover.jpg');
  background-size: cover;
  background-position: center;
  color: #FFF;

}
.intro  h1 {
  padding-top: 100px;
  font-size: 80px;
  font-family: 'Orbitron', sans-serif;
  padding-bottom: -10px;
  -webkit-text-fill-color: #FFF;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 1.95px;  
}

.seccion {
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.nosotros {
  text-align: center;
  background: #eee;
}
.img-nosotros {
  width: 250px;
  box-shadow: 0 17px 54px 0 rgba(92, 92, 92, 0.5);
}
.img-nosotros:hover {
  box-shadow: 0 17px 54px 0 rgba(92, 92, 92, 0.7);

}
.em-2 {
  font-size: 2em;
}
.em-1 {
  font-size: 1.2em;
}
h3.abajo {
  border-bottom: 2px solid #333;
}

.servicios {
  text-align: center;
  background: #EEE;
}
.ser-general {
  padding: 5px;
}
.ser-box {
  padding-top: 10px;
}
.ser-box:hover {
  background: none repeat scroll 0 0 #C8C8C8;
}
i.verde {
  color: #64a004;
}
i.morado {
  color: #a00464;
}
i.azul {
  color: #0464a0;
}

.parallax-window {
  min-height: 300px;
  background: transparent;
  z-index: 1000;
}
.wrapper-parallax {
  padding: 140px 0px;
  text-align: center;
}

.sitios {
  text-align: center;
  background-color: rgba(100,160,4,0.4);
}
.publicidad {
  text-align: center;
  /*background: #fff;*/
  background-color: rgba(160,4,100,0.5);
}
.camaras {
  text-align: center;
  background-color: rgba(4,100,160,0.5);
  
}

.contact-section {
  height: auto;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
  background: #eee;
}
footer {
  width: 100%;  
  color: white;
}
footer .f1 {
  background-color: #333;
  height: auto;
  padding-top: 35px;
  padding-bottom: 10px;
}
footer .f1 .fa {
  color: white;
}
footer .f2 {
  background-color: #222;
  height: 50px;
}
footer .f2 p {
  padding-top: 15px;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba( 4, 100, 160,0.9); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4); 
}

/*NAVBAR-TRANSPARENTE*/
.navbar-flubox-transparente .navbar-brand {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  font-size: 1.5em;
}
.navbar-flubox-transparente {
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0);
  border-bottom-width: 0px;
}
.navbar-flubox-transparente .navbar-nav>li>a {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0);
}
.navbar-flubox-transparente .navbar-nav>li>a:hover,
.navbar-flubox-transparente .navbar-nav>li>a:focus {
  color: rgba(220, 220, 220, 1);
  background-color: rgba(255, 255, 255, 0);
}
.navbar-flubox-transparente .navbar-nav>.active>a,
.navbar-flubox-transparente .navbar-nav>.active>a:hover,
.navbar-flubox-transparente .navbar-nav>.active>a:focus {
  color: rgba(153, 153, 153, 1);
  background-color: rgba(255, 255, 255, 0);
}
.navbar-flubox-transparente .navbar-toggle {
  border-color: #ffffff;
}
.navbar-flubox-transparente .navbar-toggle:hover,
.navbar-flubox-transparente .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-flubox-transparente .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-flubox-transparente .navbar-toggle:hover .icon-bar,
.navbar-flubox-transparente .navbar-toggle:focus .icon-bar {
  background-color: #ffffff;
}

/*-----*/
.navbar-flubox .navbar-brand {
  color: rgba(4, 100, 160, 1);
  font-size: 1.5em;
}
.navbar-flubox {
  font-size: 16px;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-width: 2px;
}
.navbar-flubox .navbar-nav>li>a {
  color: rgba(125, 125, 125, 1);
  background-color: rgba(255, 255, 255, 1);
}
.navbar-flubox .navbar-nav>li>a:hover,
.navbar-flubox .navbar-nav>li>a:focus {
  color: rgba(4, 100, 160, 1);
  background-color: rgba(255, 255, 255, 1);
}
.navbar-flubox .navbar-nav>.active>a,
.navbar-flubox .navbar-nav>.active>a:hover,
.navbar-flubox .navbar-nav>.active>a:focus {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}
.navbar-flubox .navbar-toggle {
  border-color: #AAA;
}
.navbar-flubox .navbar-toggle:hover,
.navbar-flubox .navbar-toggle:focus {
  background-color: rgba(4, 160, 100, 0.5);
}
.navbar-flubox .navbar-toggle .icon-bar {
  background-color: #333333;
}
.navbar-flubox .navbar-toggle:hover .icon-bar,
.navbar-flubox .navbar-toggle:focus .icon-bar {
  background-color: #333333;
}

/*CURSOR*/
.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
.typed-fade-out{
  opacity: 0;
  animation: 0;
  transition: opacity .25s;
}

/**/
.line {
  border-right: 1px solid #B29999;
}

.pad-derecha-5 {
  padding-right: 5px; 
}

.pad-top-5 {
  padding-top: 5px;
}
.pad-top-10 {
  padding-top: 10px;
}
.pad-top-15 {
  padding-top: 15px;
}

/**/
.price_table_container{
  text-align:center;
  color:#666;
  margin-top:35px;
}

.price_table_heading{
  font-size:36px;
  padding:10px;
  background:#EEE;
}


.price_table_row {
  padding:15px;
  background: #FFF;
}

.cost{
  padding:30px;
  font-size:30px;
}
.cost span{
  font-size:15px;
}

.price_table_row:nth-of-type(even) {
  background: #E5E5E5;
}
.btn{
  border-radius:0px;
}

.recommended{
  /*USER DEFINED COLOUR*/ 
  background:#FF3A3A; 
  color:#FFF;
  /*USER DEFINED COLOUR*/ 
  padding:4px 0 4px 0;
  margin-top:10px;  
  text-align:center;
  margin-bottom:-35px;
}


.spacer{width:100%;height:50px;}


/*Already Defined Colours*/
/*Background*/
.primary-bg{background:#337AB7;color:#FFF;}
.success-bg{background:#5CB85C;color:#FFF;}
.info-bg{background:#5BC0DE;color:#FFF;}
.warning-bg{background:#F0AD4E;color:#FFF;}
.danger-bg{background:#D9534F;color:#FFF;}
.dark-bg{background:#444;color:#FFF;}
.royal-bg{background:#8E74E2;color:#FFF;}
.static-bg{background:#2BB0A6;color:#FFF;}

/*Only Text Colours*/
.primary-text{background:#FFF;color:#337AB7;}
.success-text{background:#FFF;color:#5CB85C;}
.info-text{background:#FFF;color:#5BC0DE;}
.warning-text{background:#FFF;color:#F0AD4E;}
.danger-text{background:#FFF;color:#D9534F;}
.dark-text{background:#FFF;color:#444;}
.royal-text{background:#FFF;color:#8E74E2;}
.static-text{background:#FFF;color:#2BB0A6;}

/*Additional Button styles*/

/*BTN-DARK*/
.btn-dark {
  color: #fff;
  background-color: #444;
  border-color: #444;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark.focus,
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  color: #fff;
  background-color: #222;
  border-color: #222;
}
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  background-image: none;
}


/*BTN-ROYAL---------*/
.btn-royal {
  color: #fff;
  background-color: #8E74E2;
  border-color: #8E74E2;
}
.btn-royal:hover,
.btn-royal:focus,
.btn-royal.focus,
.btn-royal:active,
.btn-royal.active,
.open > .dropdown-toggle.btn-royal {
  color: #fff;
  background-color: #7451E8;
  border-color: #7451E8;
}
.btn-royal:active,
.btn-royal.active,
.open > .dropdown-toggle.btn-royal {
  background-image: none;
}


/*BTN-STATIC---------*/
.btn-static {
  color: #fff;
  background-color: #2BB0A6;
  border-color: #2BB0A6;
}
.btn-static:hover,
.btn-static:focus,
.btn-static.focus,
.btn-static:active,
.btn-static.active,
.open > .dropdown-toggle.btn-static {
  color: #fff;
  background-color: #07A094;
  border-color: #07A094;
}
.btn-static:active,
.btn-static.active,
.open > .dropdown-toggle.btn-static {
  background-image: none;
}


i.my_check {
  color: green;
}

/*BOTON VERDE*/
.btn-verde { 
  color: #ffffff; 
  background-color: #64A004; 
  border-color: #64A004; 
} 
 
.btn-verde:hover, 
.btn-verde:focus, 
.btn-verde:active, 
.btn-verde.active, 
.open .dropdown-toggle.btn-verde { 
  color: #ffffff; 
  background-color: #548703; 
  border-color: #64A004; 
} 
 
.btn-verde:active, 
.btn-verde.active, 
.open .dropdown-toggle.btn-verde { 
  background-image: none; 
} 
 
.btn-verde.disabled, 
.btn-verde[disabled], 
fieldset[disabled] .btn-verde, 
.btn-verde.disabled:hover, 
.btn-verde[disabled]:hover, 
fieldset[disabled] .btn-verde:hover, 
.btn-verde.disabled:focus, 
.btn-verde[disabled]:focus, 
fieldset[disabled] .btn-verde:focus, 
.btn-verde.disabled:active, 
.btn-verde[disabled]:active, 
fieldset[disabled] .btn-verde:active, 
.btn-verde.disabled.active, 
.btn-verde[disabled].active, 
fieldset[disabled] .btn-verde.active { 
  background-color: #64A004; 
  border-color: #64A004; 
} 
 
.btn-verde .badge { 
  color: #64A004; 
  background-color: #ffffff; 
}

/*BOTON MORADO*/
.btn-morado { 
  color: #ffffff; 
  background-color: #A00464; 
  border-color: #A00464; 
} 
 
.btn-morado:hover, 
.btn-morado:focus, 
.btn-morado:active, 
.btn-morado.active, 
.open .dropdown-toggle.btn-morado { 
  color: #ffffff; 
  background-color: #870354; 
  border-color: #A00464; 
} 
 
.btn-morado:active, 
.btn-morado.active, 
.open .dropdown-toggle.btn-morado { 
  background-image: none; 
} 
 
.btn-morado.disabled, 
.btn-morado[disabled], 
fieldset[disabled] .btn-morado, 
.btn-morado.disabled:hover, 
.btn-morado[disabled]:hover, 
fieldset[disabled] .btn-morado:hover, 
.btn-morado.disabled:focus, 
.btn-morado[disabled]:focus, 
fieldset[disabled] .btn-morado:focus, 
.btn-morado.disabled:active, 
.btn-morado[disabled]:active, 
fieldset[disabled] .btn-morado:active, 
.btn-morado.disabled.active, 
.btn-morado[disabled].active, 
fieldset[disabled] .btn-morado.active { 
  background-color: #A00464; 
  border-color: #A00464; 
} 
 
.btn-morado .badge { 
  color: #A00464; 
  background-color: #ffffff; 
}

/*BOTON AZUL*/
.btn-azul { 
  color: #ffffff; 
  background-color: #0464A0; 
  border-color: #0464A0; 
} 
 
.btn-azul:hover, 
.btn-azul:focus, 
.btn-azul:active, 
.btn-azul.active, 
.open .dropdown-toggle.btn-azul { 
  color: #ffffff; 
  background-color: #035487; 
  border-color: #0464A0; 
} 
 
.btn-azul:active, 
.btn-azul.active, 
.open .dropdown-toggle.btn-azul { 
  background-image: none; 
} 
 
.btn-azul.disabled, 
.btn-azul[disabled], 
fieldset[disabled] .btn-azul, 
.btn-azul.disabled:hover, 
.btn-azul[disabled]:hover, 
fieldset[disabled] .btn-azul:hover, 
.btn-azul.disabled:focus, 
.btn-azul[disabled]:focus, 
fieldset[disabled] .btn-azul:focus, 
.btn-azul.disabled:active, 
.btn-azul[disabled]:active, 
fieldset[disabled] .btn-azul:active, 
.btn-azul.disabled.active, 
.btn-azul[disabled].active, 
fieldset[disabled] .btn-azul.active { 
  background-color: #0464A0; 
  border-color: #0464A0; 
} 
 
.btn-azul .badge { 
  color: #0464A0; 
  background-color: #ffffff; 
}