/*main.css*/

@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
  width: 100%;
  height: 100%;
  background-color: #eee;
  font-family: 'Poppins', sans-serif;
}

html {
  width: 100%;
  height: 100%;
}
.navbar-inner {
  background:transparent !important;
}
.img-logo {
  width: 70px;
}

.texto-centro {
  text-align: center;
}
.texto-derecha {
  text-align: right;
}
.texto-izquierda {
  text-align: left;
}

@media(min-width:767px) {
  .navbar {
    padding: 10px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
  }
}

/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */

.intro {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background-image: url('../assets/img/cover.jpg');
  background-size: cover;
  background-position: center;
  color: #FFF;

}
.intro  h1 {
  padding-top: 100px;
  font-size: 80px;
  font-family: 'Orbitron', sans-serif;
  padding-bottom: -10px;
  -webkit-text-fill-color: #FFF;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 1.95px;  
}

.seccion {
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.nosotros {
  text-align: center;
  background: #eee;
}

.parallax-window {
  min-height: 300px;
  background: transparent;
  z-index: 1000;
}
.wrapper-parallax {
  padding: 140px 0px;
  text-align: center;
}

.sitios {
  text-align: center;
  background-color: rgba(100,160,4,0.4);
}
.publicidad {
  text-align: center;
  /*background: #fff;*/
  background-color: rgba(160,4,100,0.5);
}
.camaras {
  text-align: center;
  background-color: rgba(4,100,160,0.5);
  
}

.contact-section {
  height: auto;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
  background: #eee;
}
footer {
  width: 100%;  
  color: white;
}
footer .f1 {
  background-color: #333;
  height: 140px;
  padding-top: 35px;
}
footer .f1 .fa {
  color: white;
}
footer .f2 {
  background-color: #222;
  height: 50px;
}
footer .f2 p {
  padding-top: 15px;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba( 4, 100, 160,0.9); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4); 
}

/*NAVBAR-TRANSPARENTE*/
.navbar-flubox-transparente .navbar-brand {
  color: rgba(255, 255, 255, 1);
}
.navbar-flubox-transparente {
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0);
  border-bottom-width: 0px;
}
.navbar-flubox-transparente .navbar-nav>li>a {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0);
}
.navbar-flubox-transparente .navbar-nav>li>a:hover,
.navbar-flubox-transparente .navbar-nav>li>a:focus {
  color: rgba(220, 220, 220, 1);
  background-color: rgba(255, 255, 255, 0);
}
.navbar-flubox-transparente .navbar-nav>.active>a,
.navbar-flubox-transparente .navbar-nav>.active>a:hover,
.navbar-flubox-transparente .navbar-nav>.active>a:focus {
  color: rgba(153, 153, 153, 1);
  background-color: rgba(255, 255, 255, 0);
}
.navbar-flubox-transparente .navbar-toggle {
  border-color: #ffffff;
}
.navbar-flubox-transparente .navbar-toggle:hover,
.navbar-flubox-transparente .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-flubox-transparente .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-flubox-transparente .navbar-toggle:hover .icon-bar,
.navbar-flubox-transparente .navbar-toggle:focus .icon-bar {
  background-color: #ffffff;
}

/*-----*/
.navbar-flubox .navbar-brand {
  color: rgba(4, 100, 160, 1);
}
.navbar-flubox {
  font-size: 16px;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-width: 2px;
}
.navbar-flubox .navbar-nav>li>a {
  color: rgba(125, 125, 125, 1);
  background-color: rgba(255, 255, 255, 1);
}
.navbar-flubox .navbar-nav>li>a:hover,
.navbar-flubox .navbar-nav>li>a:focus {
  color: rgba(4, 100, 160, 1);
  background-color: rgba(255, 255, 255, 1);
}
.navbar-flubox .navbar-nav>.active>a,
.navbar-flubox .navbar-nav>.active>a:hover,
.navbar-flubox .navbar-nav>.active>a:focus {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}
.navbar-flubox .navbar-toggle {
  border-color: #ffffff;
}
.navbar-flubox .navbar-toggle:hover,
.navbar-flubox .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-flubox .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-flubox .navbar-toggle:hover .icon-bar,
.navbar-flubox .navbar-toggle:focus .icon-bar {
  background-color: #ffffff;
}

/*CURSOR*/
.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
.typed-fade-out{
  opacity: 0;
  animation: 0;
  transition: opacity .25s;
}

/**/
.line {
  border-right: 1px solid #B29999;
}

.pad-derecha-5 {
  padding-right: 5px; 
}

.pad-top-5 {
  padding-top: 5px;
}
.pad-top-10 {
  padding-top: 10px;
}
.pad-top-15 {
  padding-top: 15px;
}

/**/
.price_table_container{
  text-align:center;
  color:#666;
  margin-top:35px;
}

.price_table_heading{
  font-size:36px;
  padding:10px;
  background:#EEE;
}


.price_table_row {
  padding:15px;
  background: #FFF;
}

.cost{
  padding:30px;
  font-size:30px;
}
.cost span{
  font-size:15px;
}

.price_table_row:nth-of-type(even) {
  background: #E5E5E5;
}
.btn{
  border-radius:0px;
}

.recommended{
  /*USER DEFINED COLOUR*/ 
  background:#FF3A3A; 
  color:#FFF;
  /*USER DEFINED COLOUR*/ 
  padding:4px 0 4px 0;
  margin-top:10px;  
  text-align:center;
  margin-bottom:-35px;
}


.spacer{width:100%;height:50px;}


/*Already Defined Colours*/
/*Background*/
.primary-bg{background:#337AB7;color:#FFF;}
.success-bg{background:#5CB85C;color:#FFF;}
.info-bg{background:#5BC0DE;color:#FFF;}
.warning-bg{background:#F0AD4E;color:#FFF;}
.danger-bg{background:#D9534F;color:#FFF;}
.dark-bg{background:#444;color:#FFF;}
.royal-bg{background:#8E74E2;color:#FFF;}
.static-bg{background:#2BB0A6;color:#FFF;}

/*Only Text Colours*/
.primary-text{background:#FFF;color:#337AB7;}
.success-text{background:#FFF;color:#5CB85C;}
.info-text{background:#FFF;color:#5BC0DE;}
.warning-text{background:#FFF;color:#F0AD4E;}
.danger-text{background:#FFF;color:#D9534F;}
.dark-text{background:#FFF;color:#444;}
.royal-text{background:#FFF;color:#8E74E2;}
.static-text{background:#FFF;color:#2BB0A6;}

/*Additional Button styles*/

/*BTN-DARK*/
.btn-dark {
  color: #fff;
  background-color: #444;
  border-color: #444;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark.focus,
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  color: #fff;
  background-color: #222;
  border-color: #222;
}
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  background-image: none;
}


/*BTN-ROYAL---------*/
.btn-royal {
  color: #fff;
  background-color: #8E74E2;
  border-color: #8E74E2;
}
.btn-royal:hover,
.btn-royal:focus,
.btn-royal.focus,
.btn-royal:active,
.btn-royal.active,
.open > .dropdown-toggle.btn-royal {
  color: #fff;
  background-color: #7451E8;
  border-color: #7451E8;
}
.btn-royal:active,
.btn-royal.active,
.open > .dropdown-toggle.btn-royal {
  background-image: none;
}


/*BTN-STATIC---------*/
.btn-static {
  color: #fff;
  background-color: #2BB0A6;
  border-color: #2BB0A6;
}
.btn-static:hover,
.btn-static:focus,
.btn-static.focus,
.btn-static:active,
.btn-static.active,
.open > .dropdown-toggle.btn-static {
  color: #fff;
  background-color: #07A094;
  border-color: #07A094;
}
.btn-static:active,
.btn-static.active,
.open > .dropdown-toggle.btn-static {
  background-image: none;
}


/*Tabla de modal*/
/* --- Plans ---------------------------- */

.my_planHeader {
    text-align: center;
    color: white;
    padding-top:0.2em;
    padding-bottom:0.2em;
}
.my_planTitle {
    font-size:2em;
    font-weight: bold;
}
.my_planPrice {
    font-size:1.4em;
    font-weight: bold;    
}
.my_planDuration {
    margin-top: -0.6em;
}

@media (max-width: 768px) {
    .my_planTitle {
        font-size:small;
    }    
}

/* --- Features ------------------------- */

.my_feature {
    line-height:2.8em;   
}

@media (max-width: 768px) {
    .my_feature {
        text-align: center
    }
 }

.my_featureRow {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}    

/* --- Plan 1 --------------------------- */
.my_plan1 {
    background: rgb(224,234,242);
}

.my_planHeader.my_plan1 a {
    background: rgb(72, 109, 139);
    color:white;
}

.my_planHeader.my_plan1 {
    background: rgb(105, 153, 193);
    border-bottom: thick solid rgb(72, 109, 139);
}

/* --- Plan 2 --------------------------- */
.my_plan2 {
    background: rgb(230,235,218);
}

.my_planHeader.my_plan2 a {
    background: rgb(108, 131, 62);
    color:white;
}

.my_planHeader.my_plan2 {
    background: rgb(134, 162, 77);
    border-bottom: thick solid rgb(108, 131, 62);
}

/* --- Plan 3 --------------------------- */
.my_plan3 {
    background: rgb(254,235,212);
}

.my_planHeader.my_plan3 a {
    background: rgb(199, 127, 40);
    color:white;
}

.my_planHeader.my_plan3 {
    background: rgb(253, 161, 49);
    border-bottom: thick solid rgb(199, 127, 40);
}




.my_planFeature {
    text-align: center;
    font-size: 2em;
}

.my_planFeature i.my_check {
    color: green;
}
